<!--
/*
An app for hotel Riu Palace Jamaica where the 
guest can make dinner reservations. 
The app should be able to do the following:
 
If it’s being used by a guest:
•	Enter name 
•	Room number 
•	Number of persons 
•	Select which restaurant (steak house, 
	bamboo, dolce vita and kulinarium)
•	A virtual seating arrangement so that 
	the guest can select where to sit (minimum of 2 seats 
	and maximum of 4 seats)
•	Time of dinner
•	An alarm to remind them 1 hour before dinner 
•	Option to cancel reservation
•	Date of dinner
•	Option to change time of dinner, if its available 

If it’s being used by the hostess:
•	Enter guest room number to verify their reservation.
•	Hostess can see where the guest chooses to sit.
•	the time of the dinner 
•	number of persons

Guests:
	Both will be forms
	!!! Ask her how the seating arrangements are - assumption not viable.
	Is there a specific range for the dinners? Such as midday to midnight? 4 to midnight?

Hostess:
	No issues yet.
*/

 -->

 <!doctype html>
 <html lang="en">
	<head>
		<title> RIU RP</title>
		<meta charset="utf-8">
		<meta name="view-point" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link rel="stylesheet" href="./css/style.css"/>
		<link rel="shortcut icon" href="favicon.ico" />
		

		<!-- SCRIPTS -->
		<script>
			/*////// Checks the url for multiple slashes and turns the to hyphens then the ///////
			//////// first hyphen back to a slash so the redirect code will work for all routes //
			//////// used in this code /////////////////////////////////////////////////////////// */
			console.log("slash count: " + window.location.pathname.match(/\//g).length);	
			// if( window.location.pathname.match(/\//g).length > 1){
			// 	window.location.pathname = "/";
			// }
			if((/^\/guests/).test(window.location.pathname) && window.location.pathname.match(/\//g).length > 1){
				window.location.pathname = "/guests";
			}else if((/^\/guests/).test(window.location.pathname)){

			}else if(window.location.pathname.match(/guest/g) || window.location.pathname.match("/guests/")){
				window.location.pathname = "/guests";
			}
		</script>
		<!--<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous">
		</script>-->
		<script src="./js/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script language="javascript" src="./js/script.js"></script>
		<script>
			$(window).on('beforeunload',() => {
				$('.progress').css({"display":"block"});
			});
		</script>
	
	</head>
	
	<body class="blue lighten-3">
		<header class="page-header">
			<nav class="navbar red">
				<div class="nav-wrapper">
					<a href="/home" class="brand-logo route amber-text"> RIU Jamaica</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse amber-text"><i class="material-icons">menu</i></a>	
					<ul class="nav-routes right hide-on-med-and-down">
						<li class="route-item">
							<a class="route amber-text" href="/home">Home</a>
						</li>
						<li class="route-item log-route">
							<a class="route amber-text" href="/login">Login</a>
						</li>
						<li class="route-item log-route">
							<a class="route amber-text" href="/guests">Reserve Seat</a>
						</li>
						<li hidden class="route-item host-route">
							<a class="route amber-text" href="/hostess">Manage Reservations</a>
						</li>
						<li hidden class="route-item host-route">
							<a class="route amber-text" href="/logout">Logout</a>
						</li>
					</ul>	
					<ul class="nav-routes side-nav red" id="mobile-demo">
						<li class="route-item">
							<a class="route amber-text" href="/home">Home</a>
						</li>
						<li class="route-item log-route">
							<a class="route amber-text" href="/login">Login</a>
						</li>
						<li class="route-item log-route">
							<a class="route amber-text" href="/guests">Reserve Seat</a>
						</li>
						<li hidden class="route-item host-route">
							<a class="route amber-text" href="/hostess">Manage Reservations</a>
						</li>
						<li hidden class="route-item host-route">
							<a class="route amber-text" href="/logout">Logout</a>
						</li>
					</ul>				
				</div>
				
			</nav>
			<div class="progress" id="progress" style="margin-top: 0 !important;">
			<div class="indeterminate red lighten-3"></div>
			</div>
		</header>
		
		<div class="container red-text">
			<!-- Home View Container -->
			<div hidden class="home view" id="home">
				<h1 class="center">RIU Jamaica Reservation Portal</h1>
				<p class="center flow-text"> Welome To the RUI Jamaica Resorts Reservation system. Choose when, choose where then just walk in. </p>

				
					<div class="carousel carousel-slider">
						<a class="carousel-item" href="#one!"><img src="./static/Screenshot (193).png"></a>
						<a class="carousel-item" href="#two!"><img src="./static/Screenshot (194).png"></a>
						<a class="carousel-item" href="#three!"><img src="./static/Screenshot (197).png"></a>
						<a class="carousel-item" href="#four!"><img src="./static/Screenshot (198).png"></a>
					</div>
				
			</div>
			<!-- Home View Container -->

			<!-- Login View Container -->
			<div hidden class="login view" id="login">
				<form class="login-form site-form">
					<h4> Login </h4>
					<br>
					<div class="input-field">
						
						<input type="text" name="uname" placeholder="doeboy"/>
						<label for="uname">Username</label>

					</div>
					<div class="input-field">
						
						<input type="password" name="pword" placeholder="********"/>
						<label for="pword">Password</label>
					</div>
					<br>
					<div><label id="loginErr" class="Err"></label></div>
					
					<button class="btn red waves-effect" type="submit" id="login-btn">Login</button>
				</form>
			</div>
			<!-- Login View Container -->

			<!-- Guest Reservation View Container -->
			<div hidden class="guests view" id="guests">
				<form class="guest-form site-form">
					<h4> Set Reservations </h4>
					<br>
					<div class="input-field">
						
						<input type="text" name="name" placeholder="John Doe"/>
						<label for="name">Guest Name</label>

					</div>
					<div class="input-field">
						
						<input type="text" name="rNum" placeholder="XXX"/>
						<label for="rNum">Room Number</label>

					</div>
					<div class="input-field">
						
						<input type="number" name="gNum" placeholder="XXX"/>
						<label for="gNum">Number of Guests</label>

					</div>
					<!-- <div class="input-field">
						<label for="restaurants">Choose Restaurant</label>
						<select name="restaurants" id="">
							<option value="null"></option>
							<option value="Steak House">Steak House</option>
							<option value="Bamboo">Bamboo</option>
							<option value="Dulce Vita">Dulce Vita</option>
							<option value="Kulinarium">Kulinarium</option>
						</select>
					</div>
					<br> -->
					<div class="input-field">
						<label for="timepicker_ampm_dark ">Choose Reservation Time</label>
					</div>
					<br>
					<div class="input-field">
						<!-- <label for"time">Time</label> -->
						<!-- <input 
							type="time" 
							name="time" 
							min="18:30"
							max="21:00"
							value="18:30"/> -->
						<!-- <label for="timepicker_ampm_dark " style="color: black !important;">Click To Choose Time.</label> -->
                        <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time" 
							min="18:30"
							max="21:00"
							value="18:30">
					</div>
					<div class="input-field">
						<!-- <label for="date">Date</label> -->
						<input type="date" name="date" placeholder="Click To Choose Reservation Date." class="datepicker"/>
					</div>
					<div class="input-field">
						
						<input hidden type="text" name="seat" />
						<h6 class="black-text" style="font-size: 20px !important;">You Chose Table: <span id="table"></span></h6>
						<!-- Seat Picker Trigger -->
						<a class="waves-effect waves-light btn-flat amber modal-trigger black-text" href="#modal1"> Choose A Table</a>

						<!-- Seat Picker Structure -->
						<div id="modal1" class="modal">
							<div class="modal-content">
							<h4 class="center">Choose A Table</h4>
							<br>
								<div>
									<div class="row">
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="4 Seats">8</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">9</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats" style="padding-left: 6.5mm !important; padding-right: 6.5mm !important;">10</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="4 Seats" style="padding-left: 6.5mm !important; padding-right: 6.5mm !important;">11</button></div>
									</div>
									<br>
									<div class="row r2" >
										<!-- <div class="col s1"><button class="btn-flat disabled amber white-text"> </button></div> -->
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">5</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">6</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">7</button></div>
									</div>
									<br>
									<div class="row">
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="4 Seats">1</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">2</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="2 seats">3</button></div>
										<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seat" title="4 Seats">4</button></div>
									</div>
									<br>
								</div>
							</div>
							<div class="modal-footer">
							<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="seatBtn">Choose</a>
							</div>
						</div>

					</div>
					<br>
					<div class="input-field">
						
						<input required type="email" class="validate" name="email" placeholder="exam@ple.com"/>
						<label for="email">Email</label>
						<p id="emResErr" class="Err"></p>
					</div> <br>
					<p id="setResErr" class="Err"></p>
					<div class="right">
						<a href="/guests-seatupd" class="route btn-flat red lighten-4 waves-effect waves-red" title="Edit previous reservation table">Change table?</a>
					</div>
					<div class="left">
						<button class="btn red" type="submit" id="guest-btn">Set Reservation</button>
					</div>	
					
					<div class="clearfix"></div>
				</form>
				<br><br>
			</div>
			<!-- Guest Reservation View Container -->
			
			<!-- Guest Change Seat Get Reservation View Container -->
			<div hidden class="guests/seatup view" id="guests-seatupd">
				<form class="getSeat-form">
					<h3>Find Your Reservation</h3>
					<div class="input-field">
						<input type="text" name="name" id="" placeholder="John Doe">
						<label for="name">Guest Name</label>
					</div>
					<div class="input-field">
						<input type="text" name="ticket" id="" placeholder="XXXX">
						<label for="ticket">Reservation Ticket</label>
					</div>
					<div>
						<label id="seatUpErr" class="Err"></label>
					</div>
					<button class="btn red" id="getSeatUp-btn">Find Reservation</button>

				</form>
			</div>
			<!-- Guest Change Seat Get Reservation View Container -->

			<!-- Guest Change Seat View Container -->
				<div hidden class="guest/seatup/update view" id="guest-seatup-update">
					<form class="seatUp-form">
						<p id="userGot"></p><br>
						<div class="input-field">
							<input hidden type="text" name="seatUp" />
							<h6 class="black-text" style="font-size: 20px !important;">You Chose Table: <span id="tableUp"></span></h6>
							<!-- Seat Picker Trigger -->
							<a class="waves-effect waves-light btn amber modal-trigger black-text" href="#modal2"> Choose A Table</a>

							<!-- Seat Picker Structure -->
							<div id="modal2" class="modal">
								<div class="modal-content">
								<h4 class="center">Choose A Table</h4>
								<br>
									<div>
										<div class="row">
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="4 Seats">8</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">9</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats" style="padding-left: 6.5mm !important; padding-right: 6.5mm !important;">10</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="4 Seats" style="padding-left: 6.5mm !important; padding-right: 6.5mm !important;">11</button></div>
										</div>
										<br>
										<div class="row r2" >
											<!-- <div class="col s1"><button class="btn-flat disabled amber white-text"> </button></div> -->
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">5</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">6</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">7</button></div>
										</div>
										<br>
										<div class="row">
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="4 Seats">1</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">2</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="2 seats">3</button></div>
											<div class="col s1"><button class="btn-flat waves-effect amber waves-light white-text seatUp" title="4 Seats">4</button></div>
										</div>
										<br>
									</div>
								</div>
								<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="seatUpBtn">Choose</a>
								</div>
							</div>
						</div><br><br>
						<button id="UpseatBtn" class="btn red waves-effect waves-light left">Update Seat</button>
						<a class="btn red waves-effect waves-light right" href="guest">Cancel</a>
						<div class="clearfix"></div>
					</form>
				</div>
			<!-- Guest Change Seat View Container -->


			<!-- Reservation Confirmation View Container -->
			<div hidden class="resConfirm view" id="resConfirm">
				<h3>Confirmed</h3>
				<table class="resConfirm-table">
					<tbody><tr><td><label class="red-text">Reservation Number: </label></td><td><label id="resNum" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Customer Name: </label></td><td><label id="resName" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Customer Room: </label></td><td><label id="resrNum" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Number of Guests: </label></td><td><label id="resgNum" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Time: </label></td><td><label id="resTime" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Date: </label></td><td><label id="resDate" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Table: </label></td><td><label id="resSeat" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Customer Email: </label></td><td><label id="resEmail" class="red-text"></label></td></tr></tbody>
				</table>
				<a class="route btn red waves-effect waves-light" href="/home">Done</a>
			</div>
			<!-- Reservation Confirmation View Container -->

			<!-- Find Reservation View Container -->
			<div hidden class="hostess view" id="hostess">
				<h1 id="hostess-name">Welcome </h1>
				<form class="hostess-form">
					<h3>Manage Reservations</h3>
					<div class="input-field">
						<input type="text" name="name" id="" placeholder="John Doe">
						<label for="name">Guest Name</label>
					</div>
					<div class="input-field">
						<input type="text" name="ticket" id="" placeholder="XXXX">
						<label for="ticket">Reservation Ticket</label>
					</div>
					<div>
						<label id="resErr" class="Err"></label>
					</div>
					<button class="btn red" id="host-btn">Find Reservation</button>

				</form>
			</div>
			<!-- Find Reservation View Container -->

			<!-- Retreived Reservation View Container -->
			<div hidden class="reservation view" id="reservation">
				<h3>Reservation </h3>
				<table class="reserve-table">
					<tbody><tr><td><label class="red-text">Customer Name: </label></td><td><label id="resName" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Time: </label></td><td><label id="resTime" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Date: </label></td><td><label id="resDate" class="red-text"></label></td></tr></tbody>
					<tbody><tr><td><label class="red-text">Requested Table: </label></td><td><label id="resSeat" class="red-text"></label></td></tr></tbody>
				</table>
				<a class="route btn red waves-effect waves-light" href="/hostess">Done</a>
			</div>
			<!-- Retreived Reservation View Container -->
		</div>



		<script>

			/*////// Checks the url for multiple slashes and turns the to hyphens then the ///////
			//////// first hyphen back to a slash so the redirect code will work for all routes //
			//////// used in this code /////////////////////////////////////////////////////////// */
			// var count;
			// if((count = (window.location.pathname.match(/\//g) || []).length) <= 1){
			// 	//alert("no second /");
			// }else if((count = (window.location.pathname.match(/-/g) || []).length) < 1){
			// 	path = window.location.pathname.replace(/\//g,"-");
			// 	window.location.pathname = path.replace("-","/");
			// }
			
			var preloader = document.getElementById("progress");
			window.addEventListener("load", function(){
				preloader.style.display = "none";
			});

			// if(window.location.pathname == "/guest/seatup-update" || window.location.pathname == "/guests-seatupd" || window.location.pathname == "/guests/seatup-update" || window.location.pathname == "/guest-seatupd" || window.location.pathname == "/guest/seatup/update" || window.location.pathname == "/guests/seatupd"){
			// 	window.location.pathname = "/guests";
			// }
			
		</script>
	</body>
 </html>
 