body {
    height: 100% !important;
}

.view {
    height: 100% !important;
    padding-bottom: 10mm !important;
}
 .carousel {
    /* outline: red solid !important; */
    height: 530px !important;
 }
#loginErr {
    color: red;
}

#resErr {
    color: red;
}

.side-nav .route {
    font-size: 18px !important;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: black;
}

input:focus {
    border-color: darkblue !important;
}

input:focus~label {
    color: #0033cc !important;
}

.s1 {
    margin: 0mm 6.5mm !important;
}

.row {
    width: 400px !important;
    margin: 2mm auto !important;
}

.r2 {
    width: 300px !important;
}

.activeLink{
    background: rgba(0,0,0,0.1) !important;
}

@media screen and (max-width: 545px) {
    .row {
        width: initial !important;
    }

    .r2{
        width: 80% !important;
    }
}

.seat:focus, .seatUp:focus {
    background: teal !important;
    background-color: teal !important;
}

.input-field label {
    font-size: 18px !important;
}

tbody label {
    font-size: 18px !important;
}

.picker__date-display{
    background-color: rgb(245,205,0);
}

.Err {
    font-size: 14px !important;
}